/* src/App.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.container {
    padding: 2% 5% 3% 5%;
    background-color: wheat;
    border-radius: 5px;
    margin: 2% 12% 3% 12%;
    text-align: center;
}

.espaciadoTop{
  margin: 33px 0 0 0;
}